body
    font-family: sans-serif
    margin: 0

input, textarea
    padding: 20px
    border-radius: 10px
    border: 1px solid lightgrey

.button
    background-color: rgb(42, 90, 162)
    border: none
    border-radius: 10px
    padding: 20px
    color: white
    cursor: pointer
    min-width: 200px

    &:hover
        opacity: 0.7

    &:active
        background-color: rgb(0, 98, 139)

.nav
    display: grid
    grid-template-columns: repeat(3, 1fr)
    justify-items: center
    align-items: center
    background-color: #444444

    button
        background-color: transparent

.color-grey
    color: lightgrey

.add-code-block
    max-width: 700px
    margin: auto
    display: grid

    input
        margin-bottom: 10px

    textarea
        margin-bottom: 10px
        min-height: 400px

    button
        width: 200px
        justify-self: end

.my-code-block
    max-width: 700px
    margin: auto
    display: grid

.article-content
    white-space: pre-line

@media (max-width: 850px)
    .nav
        grid-template-columns: 1fr
        grid-template-rows: repeat(3, 70px)
